*{
    user-select: none;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

/*scroll bar*/

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffebeb;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 51, 51);
}

.off{
    display: none;
}

#sb {
    width: 14vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    font-family: Arial;
    padding-right: 0.5%;
    box-sizing: border-box;
}

#sb h3 {
    padding-top:5vh;
    font-size: 3.5vw;
    text-align: center;
    font-weight: 700;
    padding-bottom: 10%;
}

.sbTab {
    font-weight: 600;
    font-size: 1.7vw;
    display: block;
    color: darkred;
    text-decoration: none;
    padding: 2%;
    margin: 0.5vw 0;
    cursor: pointer;
    height:4vh;
    line-height: 4vh;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#sb .sbTab.on{
    background-color:rgb(243, 243, 243);
}

#sb div:hover{
    background-color: rgb(233, 233, 233);
}

#btn {
    margin-left: 4vw;
    margin-top: 10vh;
    background-color: #F03B3B;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 0.4vw;
    padding: 0.8vw 1.2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    outline: none;
    cursor: pointer;
}
#btn focus{
    outline: none;
    background-color: rgb(230, 58, 58);
}
/*workplace*/
#workplace {
    position: absolute;
    overflow: hidden;
    width: 86vw;
    height: 100%;
    right: 0;
}
@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(3vh);
    }
    to{
        opacity: 1;
        transform: none;
    }
}
@keyframes slide{
    from{
        opacity: 0;
        transform: translateX(5vw);
    }
    to{
        opacity: 1;
        transform: none;
    }
}
#statusTabs, #reqTabs, #proTabs{
    width: 100%;
    height: 6.5vh;
    background-color: #f3f3f3;
    display: flex;
    flex-wrap: nowrap;
}
.tab{
    font-size: 1.5vw;
    padding: 0.5% 2.7%;
    border-bottom: 3px solid rgb(231, 231, 231);
    color: rgb(20, 20, 20);
    transition-duration: 0.3s;
    cursor: pointer;
}
.tab:hover{
    background-color:rgb(221, 221, 221);
    border-bottom: 3px solid rgb(221, 221, 221);
}
#status .active{
    border-bottom: 3px solid rgb(255, 107, 107);
}

#statusMods{
    width: 86vw;
    height: 93.5vh;
}
.first{
    position: absolute;
    width: 70%;
    height: 93.5%;
    overflow-y: auto;
    animation: fadeUp 0.3s forwards ease-out;
    animation-iteration-count: 1;
}
.announceList{
    position: absolute;
    width: 70%;
    height: 93.5%;
    overflow-y: auto;
}

#statusDetail{
    position: absolute;
    width: 30%;
    overflow-y: auto;
    height: 93.5vh;
    right: 0;
    bottom: 0;
    background-color: white;
    padding-left: 2vw;
    padding-top: 3vh;
    box-sizing: border-box;
    animation: slide 0.5s forwards ease-out;
    animation-iteration-count: 1;
}
.announce{
    width: 92%;
    padding: 1.1%;
    padding-left: 5%;
    height: fit-content;
    border:  rgb(240,59,59) solid;
    border-width: 0.1vh;
    cursor: pointer;
    margin: auto;
    margin-top: 3.5%;
}

.announce:hover{
  background-color: #f7f7f7;
  transition-duration: 0.4s;
}

.subject{
    font-size: 2vw;
    padding: 1%;
    border-bottom: solid black 0.5vh;
    width: 40%;
    white-space: nowrap;
}
.subject p{
  white-space: nowrap;

}
.status{
    font-size: 1.5vw;
    padding: 0.8%;
    text-decoration-line: underline;
}
.content{
    font-size: 1.5vw;
    padding: 0.8%;
    text-decoration-line: underline;
}


/*request styles*/
#request .active {
    border-bottom: 3px solid rgb(255, 107, 107);
}
input.reqTitle {
    display: block;
    height: 7vh;
    width: 80%;
    padding: 0.5%;
    margin: auto;
    margin-bottom: 1.2%;
    margin-top: 6.5vh;
    font-size: 4vh;
    border: none;
    outline: none;
    color: rgb(19, 19, 19);
    border-bottom: 3px solid rgb(231, 173, 173);
    transition-duration: 0.2s;
}

input.reqTitle:focus {
    border-bottom: 3px solid rgb(255, 107, 107);
}

textarea.message {
    display: block;
    width: 80%;
    height: 33vh;
    padding: 0.5%;
    box-sizing: border-box;
    margin: auto;
    margin-top: 7vh;
    border: 2px solid rgb(231, 173, 173);
    outline: none;
    color: rgb(19, 19, 19);
    font-size: 4vh;
    transition-duration: 0.2s;
    resize: none;
}

textarea.message:focus {
    border: 2px solid rgb(255, 107, 107);
}

.tchar{
    margin-top: 3vh;
    font-size: 3vh;
    color: rgb(19, 19, 19);
}

#reqEvent {
    display:none;
}
.reqTools {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

    .reqTools button {
        margin: 0.3% 0.3% 0;
        padding: 0 0.5%;
        background-color: rgb(255, 48, 48);
        color: white;
        font-size: 1.2vw;
        border: none;
        outline: none;
        height: 50px;
    }

        .reqTools button:active {
            background-color: rgb(255, 21, 21);
        }

.reqTool {
    padding: 0.3%;
}
/*profile styles*/
#profile .active{
    border-bottom: 3px solid rgb(255, 107, 107);
}
#mapModal {
    visibility: hidden;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(220,220,220); /* Black w/ opacity */
}
.map {
    background-color: blue;
    float: left;
}

.mapbar {
    border-left: 0.2vw solid #F03B3B;
    float: right;
    background-color: white;
    width: 28.5vw;
    height: 100vh;
}
    .mapbar h3 {
        font-size: 2vw;
        font-weight: 300;
        padding: 1vw;
        font-family: Cerebri Sans,sans-serif !important;
    }
#close {
    font-size: 2vw;
    float:right;
    padding-right: 0.5vw;
}
.blockbar {
    width: 27vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 1vw;
    grid-row-gap: 2vh;
    padding-left: 1vw;
}
.block {
    background-color: #F03B3B;
    padding-top: 2vh;
    padding-bottom: 1.5vh;
    font-size: 1vw;
    text-align: center;
    border-radius: 1vw;
    border-bottom: 0.2vw solid darkred;
    font-weight: 600;
}
.subblock {
    background-color: #38EEFF;
    padding-top: 2vh;
    padding-bottom: 1.5vh;
    font-size: 1vw;
    text-align: center;
    border-radius: 1vw;
    border-bottom: 0.2vw solid #008DD5;
    font-weight: 600;
}
#msub {
    background-color: #00FF7F;
    padding-top: 2vh;
    margin-left: 12vw;
    width: 5vw;
    padding-bottom: 1.5vh;
    font-size: 1vw;
    text-align: center;
    border-radius: 1vw;
    border-bottom: 0.2vw solid #00E572;
    font-weight: 600;
    position: absolute;
    bottom: 2vh;
}