*{
    user-select: none;
    overflow: hidden;
}
#sb {
    width: 14vw;
    background-color: #F5F5F5;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    font-family: Arial;
}

    #sb h3 {
        padding-left: 1.5vw;
        font-size: 1.5vw;
        font-weight: 600;
    }

    #sb a {
        font-weight: 600;
        font-size: 1vw;
        display: block;
        color: darkred;
        text-decoration: none;
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;
        padding-left: 1.5vw;
        padding-right: 1vw;
        border-top: 0.1vh solid darkgrey;
    }

    #sb a:hover{
        background-color: rgb(233, 233, 233);
    }

#Inf {
    border-bottom: 0.1vh solid darkgrey;
}

.module {
    position: absolute;
    width: 86vw;
    right: 0;
}

#btn {
    margin-left: 4vw;
    margin-top: 55vh;
    background-color: #F03B3B;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 0.4vw;
    padding: 0.8vw 1.2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    outline: none;
    cursor: pointer;
}
#btn focus{
    outline: none;
}