*{
    margin:0;
    user-select: none;
}
#titleBar{
    width: 100%;
    height: 10vh;
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    font-size: 8vh;
    overflow: hidden;
    color: white;
    padding-top: 5vw;
    position: fixed;
		line-height: 5vh;
		border-bottom: 2px solid rgb(180, 180, 180);
}
center p{
	color: #ba000d;
}

#directoryListDiv{
	display:none;  
}

@media screen and (min-width:1000px){
	#titleBar{
	    width: 100%;
	    height: 5vh;
	    font-family: 'Quicksand', sans-serif;
	    background-color: white;
	    font-size: 8vh;
	    overflow: hidden;
	    color: white;
	    padding-top: 4vw;
	    position: fixed;
			line-height: 0.1vw;
			border-bottom: 2px solid rgb(180, 180, 180);
		}
		center p{
			font-size: 3vw;
		}
}

#search{
    position: absolute;
    top: 3vh;
    right: 4vh;
    height:7vh;
}

body{
    height: 100%;
    background: white;
    background-attachment: fixed;
    background-repeat: none;
    background-size: cover;
		overflow-x:hidden
}

.container{
	display:flex;
    margin-top:20%;
}
@media screen and (min-width:1000px){
	.container{
	    margin-top:5%;
	}
}

.boxes{
	flex:1;
	background-color: rgb(205,205,205);
	margin-left:2vh;
	margin-right:2vh;
    width:20vw;
    height: 40vw;
}
@media screen and (min-width: 1000px){
	.boxes{
		flex:1;
		background-color: rgb(205,205,205);
		margin-right:4vh;
	  width: 30vw;
	  height: 30vw;
		margin-left: 10vw;
	}
}

.icon{
    text-align:center;
    font-size:12.5vh;
    color:white;
   font-family: 'Quicksand', sans-serif;
}
@media screen and (min-width:1000px){
	.container .boys{
			text-align:center;
			font-size:12.5vh;
			color:white;
			font-family: 'Quicksand', sans-serif;
			margin-right: 20vw;
	}
	.container .girls{
			text-align:center;
			font-size:12.5vh;
			color:white;
			font-family: 'Quicksand', sans-serif;
			margin-right: 20vw;
	}
	.container .co{
			text-align:center;
			font-size:12.5vh;
			color:white;
			font-family: 'Quicksand', sans-serif;
			margin-right: 20vw;
	}
}

img{
	width: 35vw;
	height: auto;
	margin: auto;
}
@media screen and (min-width: 1000px){
	.container img{
		width: 20vw;
		height: auto;
		margin: auto;
		margin-top: 10vh;
	}
}

.girls{
    background-color: red;
    flex:1;
    margin-left:2vh;
    margin-right:2vh;
    height:25%;
    width:20%;
}

.boys{
    background-color: blue;
    flex:1;
    margin-left:2vh;
    margin-right:2vh;
    height:25%;
    width:20%;
}

.co{
    background-color: purple;
    flex:1;
    margin-left:2vh;
    margin-right:2vh;
    height:25%;
    width:20%;
}

.letters {
    background-color: #c62828;
}

.letters p {
    font-size: 50px;
    color:white;
	font-family: 'Quicksand', sans-serif;
    padding:0.85vh;
}

.contacts{
    background-color:#FFFFFF;
    font-size:3vh;
   font-family: 'Quicksand', sans-serif;
    padding:3vh;
    font-weight:bold;
    border-bottom: 10px solid #c6c6c6;
}
@media screen and (min-width: 1000px){
	.contacts{
	    background-color:#FFFFFF;
	    font-size:3vh;
	   font-family: 'Quicksand', sans-serif;
	    padding: 4vh;
	    font-weight:bold;
	    border-bottom: 10px solid #c6c6c6;
			text-align: left;
			width: 86.4vw;

	}
}
.contacts p a {
	text-decoration: none;
	color: #000000;
}

#navbar {
    width: 100%;
    height: 5vh;
    background-color: white;
    bottom: 0;
    left: 0;
    position: fixed;
    display: inline-block;
    display: inline;
    text-align: center;
    padding: 0.2vh 0;
		border-top: 2px solid rgb(180, 180, 180);
}
@media screen and (min-width: 1000px){
	#navbar {
	    position: absolute;
	    width: 9vw;
	    height: 100%;
	    background-color: white;
	    position: fixed;
	    display: flex;
	    text-align: center;
			flex-direction: column;
			flex-wrap: nowrap;
			border-right: 2px solid rgb(180, 180, 180);
	}
}
@media screen and (max-width: 999px){
		#profileIcon{
		    position:absolute;
		    right:8vw;
		    bottom: 0vh;
		    width:auto;
		    height:5vh;
		}

		#calendar{
		    position:absolute;
		    bottom: 0vw;
		    height: 5vh;
		    position:relative;
		    width:auto;
		    vertical-align: middle;
		    text-align:center;
		}

		#chat{
		    position:absolute;
		    left: 8vw;
		    bottom: 0vh;
		    height:5vh;
		    width:auto;
		}
}

@media screen and (min-width:1000px){
		#profileIcon{
			position:absolute;
			bottom: 0vw;
			height: auto;
			position:relative;
			width: 8vw;
			vertical-align: bottom;
			text-align:center;
		}
}

@media screen and (min-width:1000px) {
		#calendar{
		    position:absolute;
		    bottom: 0vw;
		    height: auto;
		    position:relative;
		    width: 8vw;
		    vertical-align: middle;
		    text-align:center;
		}
}

@media screen and (min-width: 1000px){
		#chat{
			position:absolute;
			bottom: 0vw;
			height: auto;
			position:relative;
			width: 8vw;
			vertical-align: middle;
			text-align:center;
		}
}
@media screen and (min-width: 1000px){
	.nav{
		text-align: center;
		line-height: 75px;
		font-size: 30px;
		padding-bottom: 10vh;
		padding-top: 10vh;
	}
}


#bottomFiller{
    height:11vh;
    padding-top:3vh;
}
@media screen and (min-width:1000px){
	#bottomFiller{
			height:11vh;
			padding-top:3vh;
			width: 10vw;
	}
}

#topFiller{
    height:18vh;
}
@media screen and (min-width:1000px){
	#topFiller{
	    height:13vh;
	}
}
/*for interface DOM*/

.hide{
    display: none;
    visibility: hidden;
}

.show{
    display: block;
    visibility: visible;
    animation-name: transIn;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
@media screen and (min-width:1000px){
	.show{
	    display: inline-block;
	    visibility: visible;
	    animation-name: transIn;
	    animation-duration: 0.3s;
	    animation-iteration-count: 1;
	    animation-timing-function: ease-out;
			margin-left: 9.1vw;
			height: 10vh;
	}
}
@keyframes transIn{
    from{
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}
@media screen and (min-width:1000px){
	#fall{}
	#winter{}
	#spring{}
}
