*{
	margin:0;
}
#titleBar{
    width: 100%;
    height: 10vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #c62828;
    font-size: 8vh;
    overflow: hidden;
    color: white;
    padding-top: 5vw;
    position: fixed;
}

#search{
    position: absolute;
    top: 3vh;
    right: 4vh;
    height:7vh;
}

body{
    height: 100%;
    background: linear-gradient(to bottom, #ffff8d 0%, #f57f17 100%);
    background-attachment: fixed;
    background-repeat: none;
    background-size: cover;
}

.container{
	display:flex;
    margin-top:20%;

}

.boxes{
	flex:1;
	background-color: #e86a6a;
	margin-left:2vh;
	margin-right:2vh;
    width:20vw;
    height: 40vw;
}

.icon{
    text-align:center;
    font-size:12.5vh;
    color:white;
    font-family: 'Montserrat', sans-serif;
}

.girls{
    background-color: red;
    flex:1;
    margin-left:2vh;
    margin-right:2vh;
    height:25%;
    width:20%;
}

.boys{
    background-color: blue;
    flex:1;
    margin-left:2vh;
    margin-right:2vh;
    height:25%;
    width:20%;
}

.co{
    background-color: purple;
    flex:1;
    margin-left:2vh;
    margin-right:2vh;
    height:25%;
    width:20%;
}

.letters {
    background-color: #c62828;
}

.letters p {
    font-size: 50px;
    color:white;
    font-family: 'Montserrat', sans-serif;
    padding:0.85vh;
}

.contacts{
    background-color:#FFFFFF;
    font-size:3vh;
    font-family: 'Montserrat', sans-serif;
    padding:3vh;
    font-weight:bold;
    border-bottom: 10px solid #c6c6c6;
}

.contacts p a {
	text-decoration: none;
	color: #000000;
}

#navbar {
    width: 100%;
    height: 12vh;
    background-color: #c62828;
    bottom: 0;
    left: 0;
    position: fixed;
    display: inline-block;
    display: inline;
    text-align: center;
    padding: 0.2vh 0;
}

#profileIcon{
    position:absolute;
    right:8vw;
    bottom: 0vh;
    width:auto;
    height:12vh;
}

#calendar{
    position:absolute;
    bottom: 0vw;
    height: 12vh;
    position:relative;
    width:auto;
    vertical-align: middle;
    text-align:center;

}

#chat{
    position:absolute;
    left: 8vw;
    bottom: 0vh;
    height:12vh;
    width:auto;
}

#bottomFiller{
    height:11vh;
    padding-top:3vh;
}

#topFiller{
    height:12vh;
}

/*for interface DOM*/

.hide{
    display: none;
    visibility: hidden;
}

.show{
    display: block;
    visibility: visible;
    animation-name: transIn;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes transIn{
    from{
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}
