*{
    margin:0;
    font-family: 'Quicksand', sans-serif;
}

body{
    height: 100%;
    background-color: white;
    background-attachment: fixed;
}

#navbar {
    width: 100%;
    height: 5vh;
    background-color: #c62828;
    bottom: 0;
    left: 0;
    position: fixed;
    display: inline-block;
    display: inline;
    text-align: center;
    padding-top:1vh;
    padding-bottom:1vh;
}

#profileIcon{
    position:absolute;
    right:8vw;
    bottom: 0vh;
    width:auto;
    height:5vh;
}

#calendar{
    position:absolute;
    bottom: 0vw;
    height: 5vh;
    position:relative;
    width:auto;
    vertical-align: middle;
    text-align:center;

}

#chat{
    position:absolute;
    left: 8vw;
    bottom: 0vh;
    height:5vh;
    width:auto;
}

.club img{
    height:30vh;
    text-align:center;

}

.club p{
    text-align:center;
    font-weight:bold;
    font-size:5vh;
     font-family: 'Quicksand', sans-serif;
    border-bottom: 5px solid black;

}

.information{
     font-family: 'Quicksand', sans-serif;
}

.title{
    font-size:3vh;
    font-color:black;
    padding-top:1vh;
}

.description{
    color: #c62828;
    font-size:2vh;
    border-bottom: 5px solid black;
    padding-bottom:1vh;
    font-weight:bold;
}

#random{
    height:14vh;
}

.images{
    text-align:center;
}

.people{
    object-fit: cover;
    height:15vh;
    width:15vh;
    border:5px solid black;
    border-radius:50%;
}

.social{
    height:10vh;
    width:10vh;
    padding:2vh;
    padding-right:5vh;
}
