/*CSS for the new index page*/
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body, nav, header, section, footer{
    width: 100%;
}
a{
    color: black;
    text-decoration: none;
    font-style: none;
}

/*navigation styles*/
nav{
    height: 6.2vh;
    background-color: #9c0304;
    display: flex;
    justify-content: space-between;
    font-size: 1.2vw;
}
nav ul{
    list-style-type: none;
}
nav li{
    display: inline-block;
    padding: 2.5%;
    width: fit-content;
    white-space: nowrap;
}
nav #navRight li:hover{
    background-color: rgb(196, 41, 41);
}
nav a{
    color: white;
}
#navLeft{
    width: 10%;
    height: 100%;
    float: left;
}
#navRight{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

/*header styles*/
header{
    height: 93.6vh;
    text-align: center;
    overflow: hidden;
    background-image: url("../webassets/indexBackdrop.jpg");
    background-color: rgb(255, 242, 208);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#headerAlign{
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.349);
    transition-duration: 0.5s;
}
#headerAlign:hover{
    background-color: rgba(255, 255, 255, 0.548);
}
#headSpacer{
    width: 100%;
    height: 30% 
}
#title{
    width: 60%;
    margin: auto;
    background-color: rgba(199, 58, 58, 0.74);
    padding: 4.5% 0;
    transition-duration: 0.5s;
}
#title h3{
    font-size: 1.3vw;
    color: rgb(255, 204, 180);
}
#title h1{
    font-size: 3.5vw;
    color: white;
}
#title:hover{
    transform: scale(1.1);
}
#appDirect{
    padding: 5% 0;
    width: 50%;
    margin: auto;
}
#appDirect a{
    background-color: rgb(216, 71, 71);
    padding: 3%;
    font-size: 1.3vw;
    border-radius: 5px;
    margin: auto;
    color: white;
    box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.52);
}
#appDirect a:hover{
    background-color: rgb(168, 42, 42);
}