/*The organization interface*/
#rejection{
  margin:auto;
   border: 2px solid red;
    padding: 10px;
   animation-name: moduleIn;
   animation-duration: 1s;
   animation-iteration-count: 1;
 }
 #requests{
   margin:auto;
    border: 2px solid yellow;
     padding: 10px;
    animation-name: moduleIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
  #approvedRequests{
    margin:auto;
     border: 2px solid green;
      padding: 10px;
     animation-name: moduleIn;
     animation-duration: 1s;
     animation-iteration-count: 1;
   }
*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    user-select: none;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/*scroll bar*/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 3px;
	background-color: rgb(121, 8, 8);
}

::-webkit-scrollbar-thumb
{
	background-color: #fc232360;
}
/*cursor styles*/
.click{
    cursor: pointer;
}

/*sidebar*/
sidebar{
    width: 15%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(250, 250, 250);
}
#sHead{
    height: 8%;
    width: 100%;
    text-align: center;
}
#sHead h2{
    display: block;
    font-size: 2.3vh;
    width: 80%;
    margin: auto;
    padding-top: 8.2%;
    padding-bottom: 3%;
    text-overflow: ellipsis;
    overflow: hidden;
}
#headline{
    width: 90%;
    margin: auto;
    height: 2px;
    background-color: rgb(148, 7, 7);
}
#modList{
    height: 85%;
    width: 100%;
}
.modItem{
    height: fit-content;
    width: 92.4%;
    padding: 3.8%;
    font-size: 1.8vw;
    display: block;
    overflow: hidden;
    transition-duration: 0.2s;
    color: rgb(107, 107, 107);
}
.modItem:hover{
    background-color: rgb(245, 245, 245);
    transition-duration: none;
}
.modItem:hover{
    text-indent: 5px;
    color: rgb(19, 19, 19);
}
#sFoot{
    width: 100%;
    height: 7%;
}
#logout{
    margin: auto;
    padding: 3%;
    color: white;
    border-radius: 5px;
    display: block;
    background-color: rgb(175, 18, 18);
    font-size: 2.3vh;
    outline: 0;
    border: 0;
}

/*MODULES*/
section{
    position: absolute;
    right: 0;
    top: 0;
    width: 85%;
    height: 100%;
}
#module{
    width: 80vw;
    height: 80vh;
    border: 1px solid rgb(109, 8, 8);
    border-radius: 7px;
    margin: auto;
    transform: translateY(10vh);
}
#borderlay{
    background-color: white;
    position: absolute;
    top: -1%;
    left: 5%;
    width: 90%;
    height: 102%;
}
.module{
    width: 90%;
    height: 100%;
    margin: auto;
}
#status.hide, #req.hide, #org.hide, #orgEdit.hide, .requestSpace.hide{
    display: none;
}
@keyframes modChange{
    from {
        opacity: 0;
        transform: translateY(3vh);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
/*Status module*/
#status{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    animation-name: modChange;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
#stats{
    height: 100%;
    width: 20%;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
}
.statistic{
    width: 100%;
    text-align: center;
}
.statnum{
    font-size: 2.8vw;
}
.statLabel{
    padding: 2% 0;
    font-size: 1.9vw;

}
#sList{
    width: 80%;
    height: 100%;
    padding: 1%;
    padding-top: 3%;
    box-sizing: border-box;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
}
.statusItem{
    width: 98%;
    padding: 1%;
    background-color: rgb(248, 248, 248);
    border-left: 5px solid rgb(218, 218, 218);
    margin-bottom: 15px;
}
.statusFolder{
    padding: 0.5%;
    display: flex;
    justify-content: left;
}
.statusIcon{
    width: 1%;
    margin-right: 5px;
}
/*status colors for .statusIcon*/
.sent{
    background-color: rgb(84, 221, 84);
}
.statusTitle{
    width: 60%;
    font-size: 1.8vw;
}
.statusDraw{
    width: 100%;
}

/*Request Module*/
#reqTabs{
    width: 100%;
    padding: 1.5%;
    font-size: 1.5vw;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.reqTab{
    width: 50%;
}
.reqTabOn{
    border-bottom: 1px solid  rgb(255, 32, 32);
}
.requestSpace{
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    animation-name: modChange;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
input.reqTitle{
    display: block;
    width: 80%;
    padding: 0.5%;
    margin: auto;
    margin-bottom: 1.2%;
    font-size: 0.78vw;
    border: none;
    outline: none;
    color: rgb(19, 19, 19);
    border-bottom: 3px solid rgb(255, 236, 236);
    transition-duration: 0.2s;
}
input.reqTitle:focus{
    border-bottom: 3px solid rgb(255, 53, 53);
}
textarea.message{
    display: block;
    width: 80%;
    padding: 0.5%;
    box-sizing: border-box;
    margin: auto;
    border: 2px solid rgb(255, 236, 236);
    outline: none;
    color: rgb(19, 19, 19);
    font-size: 0.78vw;
    transition-duration: 0.2s;
    resize: none;
}
textarea.message:focus{
    border: 2px solid rgb(255, 53, 53);
}
.reqTools{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.reqTools button{
    margin:0.3% 0.3% 0;
    padding: 0 0.5%;
    background-color: rgb(255, 48, 48);
    color: white;
    font-size: 1.2vw;
    border:none;
    outline: none;
    height: 50px;
}
.reqTool{
    padding: 0.3%;
}

/*Information Module*/
#org, #orgEdit{
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    animation-name: modChange;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
#intro, #introEdit{
    height: 16vw;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(251, 251, 251);
}
#profile, #profileEdit{
    height: 100%;
    width: 40%;
}
#profile img, #profileEdit img{
    display: block;
    padding: 2.5%;
    width: 9vw;
    height: 9vw;
    margin: auto;
}
#profile figcaption{
    width: 70%;
    padding: 1%;
    margin: auto;
    border-top: 3px solid rgb(207, 36, 36);
    font-size: 1.5vw;
    text-align: center;
    word-wrap: break-word;
}
#deets, #deetsEdit{
    width: 60%;
    height: 100%;
    overflow-y: auto;
}
#deets h2, #deetsEdit h2{
    font-size: 1.6vw;
    color: rgb(236, 29, 29);
    padding: 1.5%
}
#details, #detailsEdit{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 12vw;
}
#infoPeople, #infoPeopleEdit{
    overflow-y: auto;
    overflow-x: hidden;
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: 3;
}
.person{
    width: 20%;
    height: 70%;
    padding: 1.5%;
    margin: 15px;
    border-bottom: 2px solid rgb(231, 231, 231);
    text-align: center;
}
.person img{
    display: block;
    margin: auto;
    width: 5vw;
    height: 5vw;
}
.person figcaption{
    padding: 0.5%;
}
#media, #mediaEdit{
    padding-top: 1%;
    width: 50%;
    color: rgb(167, 23, 23);
    text-align: center;
}
#mediaList, #mediaListEdit{
    width: 98%;
    height: 80%;
    margin: auto;
    list-style-type: none;
    overflow-y: auto;
    font-size: 1.2vw;
}
.other{
    width: 100%;
    padding: 1% 0;
    text-align: center;
}
.other h2{
    width: fit-content;
    margin: auto;
    padding: 0.5% 1.6%;
    border-bottom: 1px solid rgb(156, 9, 9);
    color: rgb(167, 35, 35);
}
.other p{
    padding: 1%;
}
/*Full-on input styling for write module*/
#optionsBar, #optionsBarEdit{
    padding: 0.5%;
    border-top: 2px solid rgb(192, 192, 192);
    background-color: rgb(243, 243, 243);
}
#orgEdit input, #orgEdit textarea{
    padding: 1%;
    width: 90%;
    outline: none;
    border: 1px solid gray;
    display: block;
    resize: none;
    margin: 0.5%;
}
.centerInput{
    margin: auto;
}
#orgEdit input[type~="file"]{
    display: none;
}
#profileEdit input, #infoPeopleEdit input, [name~="OtherTitle"]{
    text-align: center;
}
#detailEditBar{
    padding: 0.6%;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(228, 228, 228);
    border-bottom: 1px solid rgb(228, 228, 228);
}
#detailEditBar img, #EditOtherBar img{
    padding: 1%;
}
#detailEditBar img:hover, #EditOtherBar img:hover{
    background-color: rgb(243, 243, 243);
}
#EditPeopleBar{
    width: 50%;
}
.personEdit{
    width: 100%;
}
img.personRemove{
    width: 17px;
    height: 17px;
    padding: 2%;
}
img.personRemove:hover{
    background-color: rgb(243, 243, 243);
}
#EditMediaBar{
    width: 50%;
}
#EditOtherBar{
    width: 100%;
}
.editMedia{
    display: flex;
    width: 98%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.removeMedia{
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.removeMedia img{
    padding: 5%;
}
.removeMedia img:hover{
    background-color: rgb(243, 243, 243);
}
.mediaInputs{
    width: 90%;
}
.wc-date-popover{
    font-family: 'Quicksand', sans-serif;
}
