*{
    margin: 0;
    padding: 0;
    user-select: none;
}
body {
    text-align: center;
    width: 100%;
}
h1{
    padding-top: 13vh;
}
h6{
    color: rgb(134, 11, 11);
}
#Loginspace {
    padding-top: 2vh;
    width: 50%;
    margin: auto;
}
input{
    padding: 1.5%;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    transition-duration: 0.3s;
    width: 40%;
}
input:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(136, 0, 0);
}
#SignUp{
    transform: translateY(1vh);
}

a{
    color: white;
    text-decoration: none;
    font-style: none;
}
button{
    outline: none;
    border: none;
    background-color: rgb(226, 28, 28);
    color: white;
    padding: 0.5% 0;  
    border-radius: 7px;
    display: block;
    margin: auto;
    width: 5%;
}
a:hover{
    color: white;
    font-style:none;
    text-decoration:none;
}