*{
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    width: 100%;
}
h1{
    padding-top: 13vh;
}
h6{
    color: rgb(134, 11, 11);
}
#Loginspace {
    padding-top: 2vh;
    width: 50%;
    margin: auto;
}
input{
    padding: 1%;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    transition-duration: 0.3s;
}
input:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(136, 0, 0);
}
#SignUp{
    transform: translateY(1vh);
}