*{
    margin:0;
    font-family: 'Quicksand', sans-serif;
}


body {
    height: 100%;
    background: linear-gradient(to bottom, #ffff8d 0%, #f57f17 100%);
    background-attachment: fixed;
}

#topBar {
    width: 100%;
    height: 12vh;
    font-family: 'Quicksand', sans-serif;
    background-color: #c62828;
    top: 0;
    left: 0;
    position: fixed;
}

#navbar {
    position:relative;
    width: 100%;
    height: 12vh;
    background-color: #c62828;
    bottom: 0;
    left: 0;
    position: fixed;
    display: inline-block;
    display: inline;
    text-align: center;
    padding-top:1vh;
    padding-bottom:1vh;

}
#admin {
    width: 100%;
}
#guidance {
    width: 100%;
}
#asb {
    width: 100%;
}
#campusorgs {
    width: 100%;
}
#athletics {
    width: 100%;
}
#fundraisers {
    width: 100%;
}
.label {
    color: #e11624;
    font-weight: bolder;
    font-size: 10vw;
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
    width: 70vw;
    vertical-align: top;
    padding-top: 5.5vw;
}
#news {
    padding-top: 15vh;
    padding-bottom: 15vh;
    padding-top: 16vh;
    padding-bottom: 16vh;
}
.logo {
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        margin: 3vw;
        display: inline-block;
    }
.announcement {
        margin-top: 2vw;
        margin-bottom: 2vw;
        margin-right: 2vw;
        font-family: 'Quicksand', sans-serif;
        font-size: 5vw;
        background-color: white;
        border-radius: 2vw;
        border: 2vw solid white;
        display: inline-block;
        width: 70vw;
        margin: 0.5vw;
    }



#demo {
    font-size: 10vw;
    color: white;
    padding-top: 5vw;
}

#profileIcon{
    position:absolute;
    right:0px;
    bottom: 0px;
    width:auto;
    height:12vh;
}

#calendar{
    position:absolute;
    bottom: 0px;
    height:12vh;
    position:relative;
    left:0.25px;
    width:auto;
    vertical-align: middle;
    text-align:center;

}

#chat{
    position:absolute;
    left:0px;
    bottom: 0px;
    height:12vh;
    width:auto;
}

#bigOne{
    font-size: 100px;
    font-color:black;
}