*{
	margin: 0;
	padding: 0;
 	box-sizing: border-box;
}

body {
    height: 100%;
    background: linear-gradient(to bottom, #ffffff 50%, #f2f2f2 100%);
    background-attachment: fixed;
}

#titleBar {
    width: 100%;
    height: 26vh;
    font-family: 'Montserrat', sans-serif;
    background-color:#ffd966ff;
    top: 0;
    left: 0;
    border-bottom: 0.25px solid black; 
}

#title {
	font-size: 12vw;
	text-align: center;
	color: white;
	text-indent: 15%;
	padding-top: 5%;
}

.resize {
	position: absolute;
	width: 50vh;
	height: auto;
	top: -6vh;
	left: 15px;
	right: 25px;
	bottom: 20px;
}

#titleBar input[type=text] {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	padding: 1vh;
	border: none;
	margin-top: 20vh;
	margin-left: 12vh;
	font-size: 14px;
	width: 60%;
}

html {
  overflow-y: scroll;
}
.month{
	vertical-align:50%;
	line-height:8.3vh;
	text-align: center;
	color: white;
	font-size: 30px;
	height: 8.3vh;
	font-family: 'Montserrat', sans-serif;
	border: 0.25px solid black;
}
#area{
	background-color: #cc0000ff;
	height: 200vh;
}
