*{
    margin:0;
}


body {
    height:100%;
}

#topBar {
    width: 100%;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    background-color: #c62828;
    top: 0;
    left: 0;
    position: fixed;
}

#navbar {
    width: 100%;
    height: 100px;
    background-color: #c62828;
    bottom: 0;
    left: 0;
    position: fixed;
    display: inline-block;
    display: inline;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;

}
#news {
    background: linear-gradient(to bottom, #ffff8d 0%, #f57f17 100%);
    height: 300%;
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 40px;
    padding-right: 20px;
}
.announcement {
    font-size: 18px;
    background-color: white;
    border-radius: 5px;
    border: 5px solid white;
}

#demo {
    font-size: 36px;
    color: white;
    padding-top: 20px;
}

#profileIcon{
    bottom: 0;
    left:0;
    width:auto;
    height:100px;
}

#calendar{
    bottom: 0;
    height:100px;
    width:auto;
    text-align:center;
}

#chat{
    bottom: 0;
    height:100px;
    width:auto;
}
