/*Setting Defaults*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 100%;
}
a{
    text-decoration: none;
    font-style: none;
}

/*NAVIGATION STYLES*/

/*GENERAL MODULE STYLES*/

/*ANNOUNCEMENTS STYLES*/

/*STAFF DIRECTORY STYLES*/

/*MAP STYLES*/