@import 'https://fonts.googleapis.com/css?family=Catamaran';

html, body
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Catamaran', sans-serif;
}

body {
  background: #eeeeff;
}

.container
{
    display: flex;
	flex-direction: column;
    align-items: center;
  	justify-content: center;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

svg
{
	z-index: 10;
	
	.letter
	{
		fill: none;
		stroke: #fff;
		stroke-width: 5;
		stroke-miterlimit: 10;
	}
}

.blinky-mcblinkface
{
	animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#toggle
{
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 100;
	
	a
	{
		color: white;
		text-decoration: none;
		
		&:hover
		{
			color: #eee;
		}
	}
}

