*{
	padding:0;
	margin:0;
	font-family:'Barlow', sans-serif;
}

#loginLink{

	
}

body{
	overflow-x:hidden;
}
@media screen and (min-width: 80px) {
    #topBar {
        text-align: right;
        background-color: #c41e3a;
        position: fixed;
        width: 100%;
    }
    #input {
        font-size: 5vw;
    }
}

#header1{
	background-color:#ffcc66;
	text-align:center;
}
@media screen and (min-width: 180px) {
    #appName {
        font-size: 10vw;
        padding-top: 5vw;
        width:100%;
    }
}
#logoPhrase{
	text-align: center;
}

#advertising{
	background-color: #c41e3a;
	text-align: center;
}

footer{
	bottom: 0px;
	width:100%;
	font-family:sans-serif;
	background-color:#0f0e0e;
	color:white;
	padding:0.9%;
}
